/*
      index.html y el class= "body" para index.html
      y formularios.html
*/
form{
   font-family: Helvetica;
   font-size: 10px;

}
h1{
   font-size: 12px;
}


.body{
  background-image: url(../Img/fondo.jpg);
   background-size: cover;
   color: white; font-size: 30px; }

#poster{
  margin: auto;
  width:700px; height: 300px;
   
   border: 10px solid brown;
   border-radius: 22px;
   border-style: outset;
   

}

#poster1{ width:700px; height: 300px;
    }

 #Br{ width: 200px; height: 200px;
   
   margin: auto;}


#cabecera{
   margin: auto;}
#frase{
   text-align: center;
   margin: auto;
   font-size: 50px;
   font-family: Breaking;
}
@font-face{
   font-family: Breaking;
   src:url(../font/Breaking\ Bad.ttf);
}
   /*
       tabla.html
   */
#body_tabla{
   background-color: #0c3e11;
   text-align: center;
   }   
  
  .tabla td{
   max-height:  50px;
   max-width: 50px;
   line-height: 0.8;
   font-size: 30px;
   font-family: Helvetica;
   font-weight: 600;
   padding: 5px; 
   border: 10px solid rgb(0, 0, 0);}
   



.tabla td img{
   width: 100%;}

.letra{
   font-size: 30px; font-family: Helvetica; font-weight: 600;}
.nombre{
   font-size: 6px;
   font-family: Helvetica;}
.im{
   height: 60px; width: 60px;}
table{
   border: 10px solid rgba(0, 0, 0, 0.836);
   border-collapse: collapse; }

#Ha{
   background-image: url(../Img/Tabla\ Periódica/hankschrader.png);
   background-size: cover;
   background-position: center;}

#tabla2 td img{
     
   height: 50px;}
#tabla2{

   background-color: rgba(214, 184, 17, 0.562);
   margin:auto}
#tabla1 {
   margin: auto;
}      

/*
    Colores:
*/

.verde{
   background-color: rgb(190, 241, 87);
}
.verdevivo{
   background-color: olivedrab;
}
.verdeclaro{
   background-color: rgba(100, 128, 0, 0.493);
}
.grisclaro{
   background-color: rgba(180, 192, 109, 0.473);
}
.morado{
   background-color: rgba(137, 43, 226, 0.623);
}
.oliva{
   background-color: rgb(49, 66, 3);
}
.gris{
   background-color: rgb(124, 126, 124);
}
.gverde{
   background-color: rgb(96, 104, 75);
}
.negro{
   background-color: rgb(0, 0, 0);
}







